@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1 style="padding-top: 100px" class="display-4">Welcome to TShop</h1>
    <a asp-controller="HangHoa" class="btn btn-info">Let shopping</a>
</div>
